/* #626262
#b4ad9e
#03a9f4*/
.page-header {
    background-color: #fff;
}
.text {
    color: ;
}
.site-nav .link {
    color: ;
}
.site-nav .link:hover {
    color: #03a9f4;
}
/*
 font-family: 'Ubuntu', sans-serif;
font-family: 'Playfair Display', serif;
*/
