:root {
    --black-color: #626262;
    --gray-color: #b4ad9e;
    --accent-color: #03a9f4;
    --font-stack: 'Playfair Display', serif;
    --font-sections: 'Ubuntu', sans-serif;
}
.body {
    font-family: var(--font-stack);
    font-size: 14px;
    color: var(--black-color);
}

.title-of-section {
    color: var(--gray-color);
    font-family: var(--font-sections);
}

.site-nav .link:hover {
    color: #03a9f4;
}

.button {
    font-family: inherit;
    cursor: pointer;
}
/*
 font-family: 'Ubuntu', sans-serif;
font-family: 'Playfair Display', serif;
*/
